/node_modules
/public/hot
/public/storage
/resources/assets/js/config.js
/resources/assets/js/env.js
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
